<div class="row">
  <div class="col-sm-12">

    <div class="header">
      <ul class="navigation">
        <li>
          <a href="/"><%= websiteName %></a>
        </li>
        <li>
          <a href="http://reactessentials.com" target="_blank">React Essentials Book</a>
        </li>
        <li>
          <a href="https://github.com/fedosejev/react-project-starter" target="_blank">React Project Starter</a>
        </li>
      </ul>
    </div>

  </div>
</div>