<aside class="books">
  <a href="https://www.amazon.com/React-js-Essentials-Artemij-Fedosejev/dp/1783551623/" class="book-cover">
    <img src="/__static/images/react-essentials-book-cover.jpg" alt="React.js Essentials english book cover" />
  </a>
  <a href="https://www.amazon.com/Sviluppare-applicazioni-web-React-js-Italian-ebook/dp/B01D8P17IM" class="book-cover">
    <img src="/__static/images/react-essentials-italian-book-cover.gif" alt="React.js Essentials italian book cover" />
  </a>
</aside>
