<div class="book-ad">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <a href="https://gumroad.com/l/DSiiZ">
          <strong class="mr-3">NEW BOOK</strong>
          React Interview: Developers Guide -
          <em>this book helps you to prepare for your React interview.</em>
        </a>
      </div>
    </div>
  </div>
</div>
