<div class="row">
  <div class="col-sm-12">

    <div class="footer">
      <p>Created by <a href="http://artemij.com" target="_blank">Artemij Fedosejev</a> author of <a href="https://www.amazon.com/React-js-Essentials-Artemij-Fedosejev/dp/1783551623/" target="_blank">React.js Essentials</a> book:</p>
      <%- include('./sidebar') %>
      <ul class="social-buttons">
        <li>
          <a href="mailto:art@react.tips">
            <i class="fa fa-envelope-open-o" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="http://twitter.com/reacttips" target="_blank">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/react.tips" target="_blank">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </li>
      </ul>

        <a href="mailto:art@react.tips">Email</a>
      </p>
    </div>

  </div>
</div>
