<div class="row">
  <div class="col-sm-12">
    <div class="header">
      <ul class="navigation">
        <li class="logo">React.Tips</li>

        <li><a href="/">Tutorials</a></li>

        <li>
          <a href="/write-your-tutorial-for-react-tips">
            Write for React.Tips
          </a>
        </li>

        <li><a href="/best-react-books"> Best React Books </a></li>
      </ul>
    </div>
  </div>
</div>
