<div class="row">
  <div class="col-sm-12">
    <div class="header">
      <ul class="navigation">
        <li><a href="/"><%= websiteName %></a></li>

        <li>
          <a
            href="mailto:writeforreacttips@gmail.com?subject=I%20want%20to%20write%20for%20React.Tips"
            target="_blank"
          >
            Write your React tutorial for React.Tips!
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
