<div class="row">
  <div class="col-sm-12">

    <div class="header">
      <ul class="navigation">

        <% if (showHomeLink) { %>
        <li>
          <a href="/"><%= websiteName %></a>
        </li>
        <% } %>

        <li>
          <a href="https://www.amazon.com/React-js-Essentials-Artemij-Fedosejev/dp/1783551623/" target="_blank">React Essentials Book</a>
        </li>
        <li>
          <a href="https://github.com/fedosejev/react-project-starter" target="_blank">React Project Starter</a>
        </li>
        <li>
          <a href="http://bit.ly/PublishMyTutorial" target="_blank">
            Write your React.js tutorial
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>
