<aside>
  <a href="http://reactessentials.com" class="book-cover">
    <img src="/__static/images/react-essentials-book-cover.jpg" alt="React.js Essentials english book cover" />
  </a>
  <a href="http://reactessentials.com" class="book-cover">
    <img src="/__static/images/react-essentials-italian-book-cover.gif" alt="React.js Essentials italian book cover" />
  </a>
</aside>