<div class="row">
  <div class="col-sm-12">

    <div class="social">
      <p>Let's connect:</p>
      <ul class="social-buttons">
        <li>
          <a href="mailto:art@react.tips">
            <i class="fa fa-envelope-open-o" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="http://twitter.com/reacttips" target="_blank">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/react.tips" target="_blank">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/pg/ReactTips-1308433509219907" target="_blank">
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>
