* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Zilla Slab", serif;
  background-color: #fff;
}

a .fa {
  color: #000;
}

a,
a:hover,
a:active,
a:visited {
  color: #ec6563;
}

a:hover {
  color: #666;
}

a:hover,
a:focus {
  text-decoration: none;
}

strong {
  font-weight: 600;
}
