.book-ad {
  background-color: #ec6563;
  color: white;
  padding: 20px;
  line-height: 32px;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 20px;
}

.book-ad a,
.book-ad a:link,
.book-ad a:visited,
.book-ad a:hover,
.book-ad a:focus,
.book-ad a:active {
  background-color: #ec6563;
  color: white;
}
