.mailchimp {
  h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 32px;
  }

  #mc_embed_signup form {
    text-align: left;

    input {
      margin-right: 10px;
    }
  }
}
