.navigation {
  text-align: left;
  margin: 30px 0;
  font-family: sans-serif;
  font-weight: 100;

  .logo {
    font-family: "Zilla Slab", serif;
    font-size: 30px;
    color: #666;
  }

  li {
    list-style-type: none;
    display: inline-block;
    margin: 0 20px 0 0;
    letter-spacing: 0px;
    font-family: "Zilla Slab", serif;
    font-size: 30px;
    line-height: 36px;

    &:first-of-type {
      margin-left: 0;
    }

    a {
      font-weight: 300;

      &:hover {
        text-decoration: none;
        color: #212529;
      }

      .fa {
        color: inherit;
        margin-right: 5px;
      }
    }
  }
}
