.post-page {

  font-size: 20px;

  h1 {
    font-weight: 500;
    line-height: 40px;
    margin: 20px 0 40px 0;
  }

  img {
    max-width: 100%;
  }

  blockquote {
    margin: 40px 0;
  }

  p {
    margin: 20px 0;
    line-height: 32px;
  }

  pre {
    margin: 20px 0;
    border: 0;
    border-radius: 0;
    font-size: 20px;
  }

  ol, ul {
    margin-left: 40px;
  }

  figure {
    margin: 40px 0;

    figcaption {
      text-align: center;
      font-size: 16px;
      font-style: italic;
      color: #999;
    }
  }

  h2 {
    margin-top: 60px;
  }

  .author-photo {
    width: 150px;
    display: block;
    margin-top: 40px;
  }

  .clip-shape {
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
  }

  a .fa {
    color: #000;
  }

  a,
  a:hover,
  a:active,
  a:visited {
    color: #ec6563;
  }

  a:hover {
    color: #666;
    text-decoration: none;
  }

  #disqus_thread {
    margin-top: 20px;
  }
}
