.subscribe-ad {
  background-color: #ec6563;
  color: white;
  padding: 20px;
  line-height: 32px;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 20px;
}

.subscribe-ad a,
.subscribe-ad a:link,
.subscribe-ad a:visited,
.subscribe-ad a:hover,
.subscribe-ad a:focus,
.subscribe-ad a:active {
  background-color: #ec6563;
  color: white;
}
