@import url(https://fonts.googleapis.com/css?family=Bitter:400,400italic,700);

* {
  font-family: 'Bitter', serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

a .fa {
  color: #000;
}

a, 
a:hover, 
a:active, 
a:visited {
  color: #ec6563;
}

a:hover {
  color: #666;
  text-decoration: none;
}

@import 'home';
@import 'post';
@import 'header';
@import 'footer';